In [19]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa('oanda.cfg.txt')
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [3]:
import metrics

In [5]:
df = pd.read_csv('SPY.csv')

In [6]:
df

            date    open   close     low    high     volume
0     2010-01-04  112.37  113.33  111.51  113.39  118944600
1     2010-01-05  113.26  113.63  112.85  113.68  111579900
2     2010-01-06  113.52  113.71  113.43  113.99  116074400
3     2010-01-07  113.50  114.19  113.18  114.33  131091100
4     2010-01-08  113.89  114.57  113.66  114.62  126402800
...          ...     ...     ...     ...     ...        ...
2511  2019-12-24  321.47  321.23  320.90  321.52   20258042
2512  2019-12-26  321.65  322.94  321.64  322.95   29573883
2513  2019-12-27  323.74  322.86  322.28  323.80   37791481
2514  2019-12-30  322.95  321.08  320.55  323.10   45643299
2515  2019-12-31  320.53  321.86  320.15  322.13   44351029

[2516 rows x 6 columns]

In [20]:
import position as pos

In [ ]:
df = pd.read_csv('Data/AUD.CSV')
df['time'] = pd.to_datetime(df['time'])
df = df.set_index(['time'])
print(df.head())
units_to_trade = -10000
for i, row in enumerate(df.itertuples()):
    date = row.Index
    price = row.c
    if i == 123:
             position = pos.Position('AUDUSD', date, price, units_to_trade)
    elif 123< i < 534:
             position.record_price_update(date, price)
    elif i== 534:
             position.exit(date,price)


position.print_position_summary()

In [13]:
df.iloc[234]

time        2019-11-01 04:34:00
o                       0.69069
h                       0.69069
l                       0.69069
c                       0.69069
volume                        1
complete                   True
Name: 234, dtype: object

In [14]:
df.iloc[123]

time        2019-11-01 02:08:00
o                       0.69073
h                       0.69073
l                       0.69073
c                       0.69073
volume                        1
complete                   True
Name: 123, dtype: object